<nav class="tabs-nav">
  <ul class="tabs-nav__list">
    <li class="list__item">
      <a class="item__link" data-tab-index="0">Video</a>
    </li>
    <li class="list__item">
      <a class="item__link" data-tab-index="1">Chat</a>
    </li>
    <li class="list__item">
      <a class="item__link" data-tab-index="2">Preguntas</a>
    </li>
    <div class="list__item-marker" data-tab-index="0"></div>
  </ul>
</nav>

<main class="room" data-tab-index="0">
  <section class="section-left">
    <div class="questions-wrapper">
      <div class="questions">
        <div class="questions__header">
          <h1 class="header__title">Interpelación</h1>
          <p class="header__text">
            Siga y comparta las preguntas hechas por los diputados durante las interpelaciones.
          </p>
        </div>

        <ul class="questions__list" id="questions">
          {{#each model.preguntasRespuestas as |preguntaRespuesta|}}
            <li
              class="list__item"
              id="{{preguntaRespuesta.id}}"
            >
              <div class="item__question-block">

                <ul class="question-block__share-list">
                  <li class="share-list__item--facebook ">
                    <a class="item__link" data-social="facebook" target="_blank" title="Compartilhar pelo Facebook">
                      <i class="item__icon icon icon-facebook"></i>
                    </a>
                  </li>

                  <li class="share-list__item--twitter ">
                    <a class="item__link" data-social="twitter" target="_blank" title="Compartilhar pelo Twitter">
                      <i class="item__icon icon icon-twitter"></i>
                    </a>
                  </li>

                  <li class="share-list__item--whatsapp ">
                    <a class="item__link" data-social="whatsapp" target="_blank" title="Compartilhar pelo Whatsapp">
                      <i class="item__icon icon icon-whatsapp"></i>
                    </a>
                  </li>

                  <span class="share-list__close" role="button" title="Cancelar">
                    <i class="icon icon-times"></i>
                  </span>
                </ul>

                <p class="question-block__text">{{preguntaRespuesta.preguntaRespuesta}}</p>

                <div class="question-block__info">
                  <span class="info__username">{{preguntaRespuesta.author}}</span>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        {{!-- <div class="questions__read-more"></div> --}}

        {{!-- <div class="send-form--closed">
          <span>Audiencia cerrada para participantes</span>
        </div> --}}
      </div>
    </div>
  </section>

  <section class="section-right">
    <div class="section-right__top">
      <div class="video">
        <div class="video__iframe-wrapper">
          {{ember-youtube ytid=model.audiencia.youtubeId playerVars=(hash autoplay=0)}}
        </div>

        <div class="video__title">
          <h2 class="title__subheader">
            <span class="subheader__text">{{ model.audiencia.nombre }}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="section-right__bottom">
      <div class="chat">
        {{!-- <div class="chat__floating-header">
          <i class="header__icon icon icon-comments"></i>
          <h3 class="header__title">Bate-Papo</h3>
        </div>

        <div class="chat__messages">
          <ul class="messages__list" id="chat">
            {% if object.messages.all %}
              {% for message in object.messages.all %}
                {% include "includes/chat_message.html" with message=message %}
              {% endfor %}
            {% elif not object.closed_date %}
              <div class="messages__list--empty">
                <img src="{% static 'img/chat-bubble.svg' %}" data-fallback="{% static 'img/chat-bubble.png' %}">
                <p>Nenhuma mensagem foi enviada ainda. Seja o primeiro!</p>
              </div>
            {% endif %}
          </ul>
        </div>
        <div class="chat__read-more">Há novas mensagens disponíveis abaixo</div>

        {% if not object.closed_date and user.is_authenticated %}
          <form class="send-form--chat" id="chatform">
            <textarea class="send-form__input" id="message" name="message" placeholder="Envie uma mensagem" autocomplete="off" required></textarea>
            <div class="send-form__actions">
              <button class="actions__button" id="go">
                <span class="button__text">Enviar</span>
                <i class="button__icon icon icon-caret-right"></i>
              </button>
            </div>
          </form>

        {% elif not object.closed_date and not user.is_authenticated %}
          <div class="send-form--unauthenticated">
            <span><a href="{% url 'login' %}">Faça Login</a> para participar no chat!</span>
          </div>

        {% elif object.closed_date %}
          <div class="send-form--closed">
            <span>Audiência encerrada para participações.</span>
          </div>

        {% endif %} --}}
      </div>
    </div>
  </section>
</main>
